html, body {
    background: #FFFFFF url("../img/clef-gray.jpg") no-repeat fixed top left;
    font-family: 'georgia', 'bitstream vera serif', serif;
    padding-left: 150px;
    padding-top: 50px;
    font-size: 16px;
}


h1 {
    font-size: 72px;
    color: rgb(35,31,32);
    font-weight:bold;
}

h2 {
    font-size: 50px;
    color: rgb(35,31,32);
    font-weight:bold;
}

#menu a {
    font-size: 36px;
    color: rgb(81,82,84);
    padding-left: 40px;
    text-decoration: none;
}

a {
    color: rgb(81,82,84);
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

.header {
    width: 1024px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

#toc{
    position:fixed;
    margin-left:-300px;
}
.toc .title {
    font-weight: bold;
    font-size: 18px;
    width: auto;
}

.toc .section {
    font-weight: bold;
    font-size: 14px;
}

.toc .subsection {
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
}

.toc li {
    list-style: none;
}


.section h1 {
    font-weight: bold;
    font-size: 18px;
    width: auto;
}

.section h2 {
    font-weight: bold;
    font-size: 12px;
}

.section .example {
    font-style: italic;
    margin-left: 15px;
}
